body{
    font-family: 'Roboto', sans-serif;
    margin: 0%;
}
.welcome{
    
    font-family: 'Redressed', cursive;
}

h1{
   
    font-size: 50px;
}
.name-heighlight{
    color:orangered;
}
.half_width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
    
    
}
.half_width img{
    width: 100%;
}
.top_banner{
    background-image: url("images/top-banner.png");
    height: 500px;
    background-repeat: no-repeat;

}
